h1{
    background-color: yellow;
    border: 20px solid ;
    font-size: 50px;
    word-spacing: 10px;
    padding-left: 50px;
}

p{
    padding:40px ;
    margin margin-right: ;: 30px;
    font-size: 60px;
    background-color: red;
    letter-spacing: 20px;
    
}