h1{
    background-color: yellow;
    border: 20px solid ;
    font-size: 50px;
    word-spacing: 10px;
    padding-left: 50px;
    letter-spacing: 16px;
}

p{
    padding:40px ;
    margin: 10px;
    background-color: yellow;
    font-size: 30px;
    letter-spacing: 15px;
}
tr{
    background-color: darkorchid;
    margin: 50px;
    border: solid;
}
th{
    background-color: brown;
    border: solid;
}
td{
    background-color: aqua;
    border: solid;
}
h2{
    border: solid;
    padding: 50px;
    background-color: mediumaquamarine;
}