h1{
    background-color: yellow;
    border: 20px solid ;
    font-size: 50px;
    word-spacing: 10px;
    padding-left: 50px;
    letter-spacing: 16px;
}

p{
    padding:40px ;
    margin: 10px;
    background-color: yellow;
    font-size: 30px;
    letter-spacing: 15px;
    
}